%html
	%head
	%link(rel="stylesheet" href="./css/main.css")
		%title Parker Jones -- Portfolio Home
	%body
		%header
			%hgroup
				%h1 Parker Jones
				%h2 Software Developer
			%nav
				%ul
					%li
						%a(href="./index.html") Home
					%li
						%a(href="./html/about.html") About Me
					%li
						%a(href="./html/contact.html") Contact Me
		%article
			%div.card(style="background-image:url('./img/dossibay.png')")
				%hgroup
					%h3 Project Manager
					%hr
					%h4 Dossibay, LLC
			%div.card(style="background-image:url('./img/ellemInc.png')")
				%hgroup
					%h3 Chief Operating Officer
					%hr
					%h4 Ellem, Inc.
			%div.card(style="background-image:url('./img/mwec.png')")
				%hgroup
					%h3 AutoCAD Designer
					%hr
					%h4 Marshcke Engineering
