%html
	%head
		%link(rel="stylesheet" href="./css/main.css")
		%script(src="./js/anime.min.js")
		%script(src="./js/animations.js")
		%link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet")
		%title Parker Jones -- Portfolio Home
	%body
		%header
			%hgroup
				%h1 Parker Jones
			%nav
				%ul
					%li
						%a(href="./index.html") Home
					%li
						%a(href="./html/about.html") About Me
					%li
						%a(href="./html/contact.html") Contact Me
		%article
			%div.card(style="background-image:url('./img/dossibay.png')")
				%div.content
					%hgroup
						%h2 Project Manager
						%hr
						%h3 Dossibay, LLC
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo vulputate mattis. Donec vel nulla dictum, aliquet turpis et, fringilla nisl. Ut sollicitudin urna mauris. Mauris dolor lectus, vestibulum et interdum ut, finibus eu augue. Cras eget augue aliquet, laoreet orci ac, rutrum nunc. Proin suscipit blandit viverra.
					%button Read More
			%div.card(style="background-image:url('./img/ellemInc.png')")
				%div.content
					%hgroup
						%h2 Chief Operating Officer
						%hr
						%h3 Ellem, Inc.
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo vulputate mattis. Donec vel nulla dictum, aliquet turpis et, fringilla nisl. Ut sollicitudin urna mauris. Mauris dolor lectus, vestibulum et interdum ut, finibus eu augue. Cras eget augue aliquet, laoreet orci ac, rutrum nunc. Proin suscipit blandit viverra.	
					%button Read More
			%div.card(style="background-image:url('./img/mwec.png')")
				%div.content
					%hgroup
						%h2 AutoCAD Designer
						%hr
						%h3 Marschke Engineering
					%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo vulputate mattis. Donec vel nulla dictum, aliquet turpis et, fringilla nisl. Ut sollicitudin urna mauris. Mauris dolor lectus, vestibulum et interdum ut, finibus eu augue. Cras eget augue aliquet, laoreet orci ac, rutrum nunc. Proin suscipit blandit viverra.
					%button Read More
	%script(src="./js/main.js")